{{define "eco_bundle_organicpizza/header-bottom.html" }}

</head>

<body>

    <nav class="nav has-shadow">
        <div class="nav-left">
            <a href="/" class="nav-item"><img src="/public/eco_bundle_organicpizza/images/logo.png" />
                <h1 class="title">ORGANIC PIZZA CO.</h1>
            </a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span id="main-nav-toggle" class="nav-toggle" onclick="toggleMainNav()">
<span></span>
        <span></span>
        <span></span>
        </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div id="main-nav" class="nav-right nav-menu">

            <span class="nav-item">
                <a href="/site/eco_bundle_organicpizza/pizzas-info">
                    <span><strong>All Pizzas</strong></span>
            </a>
            </span>

            {{ template "eco_bundle_organicpizza/menu.html" .site.BuildMenu `` }}

            <span class="nav-item">
                <a href="/site/eco_bundle_organicpizza/toppings-info">
                    <span><strong>Toppings</strong></span>
            </a>
            </span>

        </div>
    </nav>

    {{ end }}