{{define "eco_bundle_organicpizza/cart.html" }}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="heading">
                    <h1 class="title">Your Order</h1>
                    <h2 class="subtitle">
                        Your delicious pizzas are less than 30 minutes away...
                    </h2>
                </div>
            </div>
            <div class="column is-one-third">
                <div id="order">
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div id="cart"></div>
        </div>

    </div>
</section>

{{ end }}