{{define "eco_bundle_organicpizza/my_cart-list.html" }} 
 
 {{ if .records }}
<div class="animated pulse">
    <span id="carttotal" class="title is-3">
    Total <strong>{{ $line := index .records 0 }}{{ $line.order_total |printf "£%.2f" }}</strong>
</span>
    <form id="orderForm" onsubmit="placeOrder()">
        <p class="control has-addons">
            <input class="input" id="phone" name="phone" type="text" placeholder="Phone Number" required></input>
            <input type="submit" class="button is-primary" value="Order"></input>
        </p>
    </form>
</div>
{{ end }}

{{ end }}