{{define "eco_bundle_organicpizza/toppings_info-single.html" }}
{{ template "eco_bundle_organicpizza/header-top.html" . }}
<title>{{ .record.title }}</title>
<meta name="description" content="{{ .record.description }}"> {{ template "eco_bundle_organicpizza/header-bottom.html" . }} {{ template "eco_bundle_organicpizza/cart.html" . }}

{{ $schema := .schema }}


<section class="section">
    <div class="container">
        <a href="/site/{{ $schema }}/{{ .table }}">Back to {{ .table }}</a>
        <div class="heading">
            <h1 class="title">{{ .record.name }}</h1>
            <h2 class="subtitle">
                {{ .record.description }}
            </h2>
        </div>
        <hr />
        <div class="columns">
            <div class="column is-two-thirds">
                <img src="/images/{{ $schema }}/{{ .record.image }}?width=800" />
            </div>
            <div class="column">

                <h2 class="title is-4">Nutritional Information</h2>
                <table class="table">
                    <tr>
                        <th>Fat</th>
                        <td>{{ .record.fatper100 }}</td>
                    </tr>
                    <tr>
                        <th>Carbohydrates</th>
                        <td>{{ .record.carbsper100 }}</td>
                    </tr>
                    <tr>
                        <th>Protien</th>
                        <td>{{ .record.protienper100 }}</td>
                    </tr>
                </table>

            </div>
        </div>

        {{ template "eco_bundle_organicpizza/footer.html" . }}

        {{ end }}